@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

body {
    background: #111;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

*.arial {
    font-family: 'Arial', sans-serif;
    text-transform: uppercase;
    font-weight: 600 !important;
}

#home {
    position: absolute;
    display: block;
    margin: auto;
    padding: 100px;
    max-width: 1000px;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.meeting-card {
    display: block;
    height: 130px;
    background: #f5f5f5;
    border-radius: .5rem;
    transition: transform 0.2s;
    cursor: pointer;
}

.meeting .swiper-slide {
    width: 200px !important;
    max-width: 200px !important;
}

.meeting-card:hover {
    transform: scale(0.95);
    transition: transform 0.2s;
}

.meeting-card img {
    position: absolute;
    top: 12px;
    right: 20px;
    width: 40px
}

.meeting-card p {
    position: absolute;
    bottom: 25px;
    right: 25px;
    margin: 0;
}

.skype,
.zoom-meeting {
    background: rgb(85,186,252);
    background: linear-gradient(140deg, rgb(110, 197, 255) 0%, rgba(58,147,252,1) 35%, rgba(36,119,251,1) 100%);
}

.webex {
    background: #01bceb;
    background: linear-gradient(140deg, #01bceb 0%, #6ebe4a 35%, #005072 100%);
}

.google-meet {
    background: rgb(17,145,132);
    background: linear-gradient(140deg, rgb(20, 173, 158) 0%, rgba(15,144,131,1) 35%, rgb(5, 107, 97) 100%);
}

.goto-meeting {
    background: rgb(231,186,29);
    background: linear-gradient(140deg, rgba(231,186,29,1) 0%, rgba(216,120,43,1) 35%, rgba(199,82,38,1) 100%);
}

.microsoft-teams {
    background: #363c90 !important;
}

.btn-googlemeet:hover,
.btn-googlemeet {
    background: #00796b;
    border-color: #00796b;
}

#electron-control {
    position: fixed;
    top: 0;
    left: 0;
    text-align: right;
    width: 100%;
    height: 60px;
    padding: 0 50px;
    z-index: 99;
}

#electron-control * {
    line-height: 120px;
    width: 120px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    margin: 0 10px !important;
    font-size: 35px;
    color: #fff;
}

::selection {
    background: transparent;
    color: #fff;
}

.water-mark {
    position: fixed;
    bottom: -150px;
    right: -150px;
    width: 600px;
    z-index: -1;
    opacity: 0.5;
}

.pmcg {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.bg {
    position: fixed;
    display: block;
    width: 100%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    opacity: 0.5;
}